<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span>Forgot Password</span>
      <span class="title-center">Glömt lösenord</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
      <div fxFlex fxLayout="column">
        <mat-form-field appearance="fill" fxFlex class="mat-form-field">
          <mat-label>Email</mat-label>
          <input autocomplete matInput formControlName="userEmail" required>
          <mat-error
            *ngIf="forgotPasswordForm.controls.userEmail.invalid && (forgotPasswordForm.controls.userEmail.dirty || forgotPasswordForm.controls.userEmail.touchend)">
            <span *ngIf="forgotPasswordForm.controls.userEmail.errors?.['required']">Användarnamn är
              obligatoriskt</span>
            <span *ngIf="forgotPasswordForm.controls.userEmail.errors?.['pattern']">Användarnamn är invalid</span>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="mat-dialog-action">
    <button mat-raised-button type="submit" color="primary" (click)="handleSubmit()"
      [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Skicka</button>
    <button mat-raised-button color="accent" mat-dialog-close>Avbryt</button>
  </mat-dialog-actions>
</div>
