<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span class="title-center">Logga in</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
      <div fxFlex fxLayout="column">
        <mat-form-field appearance="fill" fxFlex class="mat-form-field">
          <mat-label>Email</mat-label>
          <input matInput autocomplete placeholder="Användare Email" formControlName="userEmail" required>
          <mat-error
            *ngIf="loginForm.controls.userEmail.invalid && (loginForm.controls.userEmail.dirty ||loginForm.controls.userEmail.touched)">
            <span *ngIf="loginForm.controls.userEmail.errors?.['required']">Email är obligatoriskt</span>
            <span *ngIf="loginForm.controls.userEmail.errors?.['pattern']">Email är invalid</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex class="mat-form-field">
          <mat-label>Lösenord</mat-label>
          <input autocomplete matInput placeholder="Lösenord" formControlName="password" type="password" required>
          <mat-error
            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <span *ngIf="loginForm.controls.password.errors?.['required']">Lösenord är obligatoriskt</span>
            <span
              *ngIf="loginForm.controls.password.errors?.['minlength']">Lösenord
              är invalid</span>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">Logga in</button>
    <button mat-raised-button color="accent" mat-dialog-close>Avbryt</button>
  </mat-dialog-actions>
</div>
