<div class="footerWrapper">
  <section>
    <article>
      <div><img src="assets/images/6.png" alt="sportAdmin"></div>
      <div>
        <h3>Ladda ner våra app </h3>
        <ul>
          <li>Nyheter och utskick från föreningen samlade i ett flöde</li>
          <li>Kalender med alla kommande aktiviteter</li>
          <li>Kontaktuppgifter till andra som går i samma grupp (om de godkänt att uppgifterna visas)</li>
          <li>Genomförda betalningar samt obetalda fakturor</li>
          <li>Medlemskort</li>
        </ul>
        <button class="primary-button" (click)="downloadSportAdmin()">Ladda ner appen ➝</button>
      </div>
    </article>
    <article>
      <div>
        <img class="logo-large" src="assets/images/logoLarge.png" alt="Logo">
      </div>
      <div>
        <h3>Bli supportermedlem</h3>
        <ul>
          <li>Rösträtt vid Årsmöte.</li>
          <li>Inbjudan till Öppet hus där man får prova-på simhopp vid ett tillfälle/år, kostnadsfritt.</li>
          <li>Inbjudan till Supportermedlems-middag som hålles sista kvartalet varje år. Middagen är till
            självkostnadspris.</li>
          <li>Glädjen att följa och vara medlem i en av Sveriges bästa simhoppsföreningar!</li>
        </ul>
        <button class="primary-button" (click)="supportMember()">Bli supportermedlem ➝</button>
      </div>
    </article>
  </section>
  <section>
    <h3>Sponsorer</h3>
    <article>
      <div><img src="assets/images/1.png" alt="Marginalen"></div>
      <div><img src="assets/images/2.png" alt="Raftewolds"></div>
      <div><img src="assets/images/3.png" alt="E"></div>
      <div><img src="assets/images/4.png" alt="Jur Skogs"></div>
      <div><img src="assets/images/5.png" alt="Profilskaparen"></div>
    </article>
    <hr>
    <article class="socials">
      <div>
        <h4>Öppettider</h4>
        <p>Vardagar: 9-20</p>
        <p>Lördag: 9-16</p>
        <p>Söndagar: Stängt</p>
      </div>
      <div>
        <h4>Adress</h4>
        <p>Eriksdalsbadet</p>
        <p>Hammarby Slussväg 20</p>
        <p>11860 Stockholm</p>
      </div>
      <div>
        <h4>Kontakt</h4>
        <p>08-508 290 00</p>
        <p>info@polisensimhopp.se</p>
      </div>
    </article>
    <hr>
    <article>
      <a href="https://www.facebook.com/">
        <img src="assets/images/svg_facebook.svg" alt="facebook">
      </a>
      <a href="https://www.instagram.com/accounts/login/">
        <img src="assets/images/svg_instagram.svg" alt="instagram">
      </a>
    </article>
  </section>
</div>
