<body>
  <mat-menu>
    <button mat-menu-item (click)="handleLogOut()"><mat-icon>exit_to_app</mat-icon> Logout</button>
  </mat-menu>
  <mat-card align="center">
    <b><span>Dashboard</span></b>
  </mat-card>
  <!-- <button (click)="handleLogOut()">Logg ut</button> -->
  <br>

  <div class="row-btns">
    <button class="button" routerLink="/">Home</button>
    <button class="button" [routerLink]="['show-news']">Nyheter</button>
    <button class="button" [routerLink]="['show-members']">Medlemmar</button>
  </div>
  <router-outlet></router-outlet>
</body>
