<header>
  <section>
    <article>
      <img src="assets/images/logoMobile.png" alt="Simhopp logo">
      <h1>Stockholmspolisens IF Simhopp</h1>
    </article>
    <article>
      <nav>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">Hem</a>
          </li>
          <li>
            Träning
            <!-- <ul>
            <li>Simhopp barn/ungdom</li>
            <li>Simhopp vuxna</li>
            <li>Prova-på kurs för vuxna</li>
            <li>Anmälan till nybörjargrupp</li>
            <li>Kalender - gruppöversikt</li>
            <li>Träningsgrupper</li>
            <li>Tävlingsverksamhet</li>
            <li>Polispatrull</li>
            <li>Master</li>
          </ul> -->
          </li>
          <li>
            Events
            <!-- <ul>
            <li>Barnkalas</li>
            <li>Svensexor-möhippa</li>
            <li>Företagsevent</li>
            <li>Skolklass</li>
            <li>Simhoppsläger</li>
            <li>Lovläger</li>
          </ul> -->
          </li>
          <li>
            Tävlingar
            <!-- <ul>
            <li>Avgifter för tävlingar</li>
            <li>Gamma cup</li>
            <li>Marginalen bank diving cup</li>
            <li>Dive of hope</li>
            <li>Police cup</li>
            <li>Mästerskapsarrangemang</li>
            <li>Tävlingskalendern</li>
          </ul> -->
          </li>
          <li>
            <a routerLink="/" routerLinkActive="active">Webbshop</a>
          </li>
          <li>
            Om oss
            <!-- <ul>
            <li>Kontakt</li>
            <li>Supportermedlemskap</li>
            <li>Föreningsstruktur</li>
            <li>Målsättning</li>
            <li>Värdegrunder-polisenstilen</li>
            <li>Styrelse/årsmöte</li>
            <li>Stadgar</li>
            <li>Historia</li>
            <li>Svensk simhoppslinje</li>
          </ul> -->
          </li>
        </ul>
      </nav>
    </article>
    <article>
      <input type="text" placeholder="Sök" />
      <button>
        <i class="fa-solid fa-user"></i> Logga in
      </button>
    </article>
  </section>
  <section>
    <article>
      <img src="assets/images/logoLarge.png" alt="logoLarge">
    </article>
    <article>
      <h2>Välkommen till Stockholmspolisens IF Simhopp</h2>
      <h3>Sveriges bästa simhoppsklubb</h3>
    </article>
  </section>
</header>
