<div>
  <article class="first-news">
    <div>
      <img src="assets/images/img2.jpg" alt="Medarbetare">
      <div>
        <h4>NM/NJM 2022</h4>
        <p class="ParaOfDate">2022-12-15 13:54</p>
        <p>Detta år hölls NM/NJM i Bergen, Norge,</p>
        <p>Polisen Simhopp hade ursprungligen 5 aktiva simhoppare som skulle varit med och tävlat,
          pga sjukdom och skada så åkte enadst tre stycken till Bergen. Amanda Lundin, Emil Röstlund och Folke Barenius
          tillsammans med tränare Sara Adlerz Bergström.</p>
        <p>Det blev en väldigt bra tävlingshelg för Landslaget med många medaljplatser.
          Från simhopparna i polisen blev det totalt 2 guld, 1 silver och 4 brons!</p>
        <p>Amanda Lundin tog bronset i Höga hopp Emil Röstlund - Guld höga hopp, brons 3m i klassen B-killar
          Folke Barenius - brons höga hopp i klassen A-killar
          Folke och Emil tävlade även synchro i höga hopp och tog NM silver och guldet i NJM</p>
        <p>Riktigt bra prestationer av samtliga!</p>
        <p>Läs mer ➝</p>
      </div>
    </div>
  </article>
  <section>
    <article>
      <div>
        <img src="assets/images/img3.png" alt="Medarbetare">
        <div>
          <h4>Amanda Lundin - JVM</h4>
          <p>2022-12-15 13:54</p>
          <p>Läs mer ➝</p>
        </div>
      </div>
    </article>
    <article>
      <div>
        <img src="assets/images/img3.png" alt="Medarbetare">
        <div>
          <h4>Amanda Lundin - JVM</h4>
          <p>2022-12-15 13:54</p>
          <p>Läs mer ➝</p>
        </div>
      </div>
    </article>
    <article>
      <div>
        <img src="assets/images/img3.png" alt="Medarbetare">
        <div>
          <h4>Amanda Lundin - JVM</h4>
          <p>2022-12-15 13:54</p>
          <p>Läs mer ➝</p>
        </div>
      </div>
    </article>
  </section>
</div>
<form *ngIf="token" [formGroup]="contentForm">
  <angular-editor formControlName="content" [placeholder]="'Enter text here...'" [config]="config" [(ngModel)]="htmlContent"></angular-editor>
  <h2>
   {{htmlContent}}
  </h2>
  <button type="submit" (click)="addNews()">save</button>
</form>
