<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{dialogData.action}} News</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newsForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <angular-editor matInput formControlName="content" [value]="newsForm.get('content').value|sanitizeHtml"
          [placeholder]="'Enter text here...'" [config]="config"></angular-editor>
        <mat-error *ngIf="newsForm.get('content').hasError('required')">
          Innehållet är obligatoriskt
        </mat-error>
      </div>
      <div fxFlex fxLayout="column">
        <!-- <mat-form-field appearance="fill" fxFlex class="mat-form-field">
          <mat-label>ladda Image</mat-label>
          <input autocomplete type="file" matInput formControlName="image" required>
          <mat-error
            *ngIf="newsForm.controls.image.invalid && (newsForm.controls.image.dirty ||newsForm.controls.image.touched)">
            <span *ngIf="newsForm.controls.image.errors?.['required']">Bilden är obligatoriskt</span>
            <span *ngIf="newsForm.controls.image.errors?.['pattern']">bilden är invalid</span>
          </mat-error>
        </mat-form-field> -->

        <label for="image">Ladda bilder eller filer</label>
        <input type="file" id="image" name="image" formControlName="image" accept="image/*" (change)="onFileChanged($event)" multiple>
        <img [src]="imageUrl" height="100" width="120">
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button type="submit" color="primary" (click)="handleSubmit()"
    [disabled]="!(newsForm.valid && newsForm.dirty)">{{action}}</button>
  <button mat-raised-button color="accent" mat-dialog-close>Avbryt</button>
</mat-dialog-actions>
