<section>
  <article>
    <h4>Nybörjargrupper</h4>
    <p>Varför inte överraska med ett kalas där de får testa på simhopp?</p>
    <button>Läs mer och boka här ➝</button>
  </article>
  <article>
    <h4>Simhoppskalas</h4>
    <p>Varför inte överraska med ett kalas där de får testa på simhopp?</p>
    <button>Läs mer och boka här ➝</button>
  </article>
  <article>
    <h4>Svensexa & Möhippa</h4>
    <p>Varför inte överraska med ett kalas där de får testa på simhopp?</p>
    <button>Läs mer och boka här ➝</button>
  </article>
  <article>
    <h4>Företagsevent</h4>
    <p>Varför inte överraska med ett kalas där de får testa på simhopp?</p>
    <button>Läs mer och boka här ➝</button>
  </article>
</section>
<app-show-news></app-show-news>
<div>
  <button>Alla nyheter ➝</button>
</div>
