<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{dialogData.action}} News</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newsForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <angular-editor matInput formControlName="content" [value]="newsForm.get('content').value|sanitizeHtml"
          [placeholder]="'Enter text here...'" [config]="config"></angular-editor>
        <mat-error *ngIf="newsForm.get('content').hasError('required')">
          Innehållet är obligatoriskt
        </mat-error>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button type="submit" color="primary" (click)="handleSubmit()"
    [disabled]="!(newsForm.valid && newsForm.dirty)">{{action}}</button>
  <button mat-raised-button color="accent" mat-dialog-close>Avbryt</button>
</mat-dialog-actions>
