<div class="news-container">
  <article class="first-news">
    <div> <img src="assets/images/img2.jpg" alt="Medarbetare">
      <img src="assets/images/img1.jpg" alt="Medarbetare">
    </div>
    <div>
      <h4 [innerHTML]="getFirstNewsForUser.createDate"></h4>
      <div [innerHTML]="getFirstNewsForUser.content"></div>
      <p class="read-first">Läs mer ➝</p>
    </div>
  </article>
  <section>
    <article class="container" *ngFor="let el of getNewsForUser; let i = index;">
      <div>
        <img src="assets/images/img3.png" alt="Medarbetare">
        <div>
          <h4 [innerHTML]="el.createDate"></h4>
          <div [innerHTML]="el.content"></div>
          <p>Läs mer ➝</p>
        </div>
      </div>
    </article>
  </section>
</div>
